html {
    height: 100%;
}

body {
    background-color: #277006;
	margin: 0;
    padding: 0;
	font-size: 0.85rem;
    font-family: 'varela_roundregular', sans-serif;
    background-image: url("../img/abeille.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

h1, h2, h3, h4, h5 {
	margin-top: 0;
}

a {
	color: initial;
	text-decoration: none;
}

.container {
	padding: 30px 20px;
	max-width: 600px;
	margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 0px;
}

.brut {
	font-family: 'shrimpregular', sans-serif;
	color: #FFF;
	font-size: 1.6rem;
	text-transform: uppercase;
	margin-left: 30px;
}

header p {
	font-size: 1.2rem;
}

header h1 {
	text-align: center;
	margin-bottom: 0;
}

h2 {
	font-family: 'shrimpregular', sans-serif;
	margin-bottom: 0.4rem;
	text-transform: uppercase;
	font-weight: normal;
}

p {
	margin-top: 0px;
	margin-bottom: 10px;
	line-height: 1.4rem;
}

.main-logo {
    display: block;
	width: 140px;
    margin: auto;
}

.contact {
	font-weight: bold;
}

.contact p {
	font-weight: normal;
}

.contact a, .contact div {
	display: block;
	margin-bottom: 7px;
}

.section {
	background-color: rgba(255,255,255,0.95);
	margin-bottom: 30px;
	border-radius: 4px;
	position: relative;
	overflow: hidden;
}

.section > div {
	margin: 30px 50px;
}

.section p {
	text-align: justify;
}

.section.miel, .section.nous {
	padding-right: 0px;
}

.section.abeilles, .section.contact {
	padding-left: 0px;
}

.section .fleurs {
	position: absolute;
}

.section .fleurs1 {
	right: -80px;
	bottom: 0;
	width: 130px;
}

.section .fleurs2 {
	left: 0;
	top: 0;
	width: 50px;
}

.section .fleurs3 {
	left: -80px;
	top: 0;
	width: 120px;
}

.section .fleurs4 {
	left: 230px;
	bottom: 0;
}

.section .fleurs5 {
	right: -70px;
	top: 0;
	width: 230px;
}

.section .fleurs6 {
	left: -80px;
	top: 0;
	width: 130px;
}

.section .fleurs7 {
	right: 40px;
	top: 140px;
	width: 80px;
	visibility: hidden;
}

footer .section {
	background-color: rgba(255,255,255,0.7);
	margin-bottom: 0;
}

footer .section > div {
	margin: 10px;
	display: flex;
	justify-content: center;
}

#legal {
	display: none;
	position: fixed;
	background: white;
	padding: 20px;
	margin: 20px;
	top: 0;
	left: 0;
	border-radius: 4px;
	max-height: 80%;
	overflow-y: scroll;
}

.legal-header {
	display: flex;
	justify-content: space-between;
}

#legal h4 {
	margin-top: 10px;
	margin-bottom: 0;
}

@media only screen and (min-width: 500px){
	body {
		font-size: 0.9rem;
	}

	.container {
		padding: 30px;
	}

	.section.miel, .section.nous {
		padding-right: 100px;
	}

	.section.abeilles, .section.contact {
		padding-left: 100px;
	}

	.section .fleurs1 {
		right: 0;
	}

	.section .fleurs3 {
		left: 0px;
	}

	.section .fleurs5 {
		right: 0px;
	}

	.section .fleurs6 {
		left: 0px;
	}

	.section .fleurs7 {
		visibility: visible;
	}
}


@media only screen and (min-width: 1000px){
	.container {
		margin-left: 40%;
	}
}